{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>find people</title>
    <link rel="stylesheet" href="{% static 'styles/find.css' %}">
</head>

<body>
    <div>


        <div class="nav-bar">
            <img class="linked" src="{% static 'image/joinlink.png' %}" alt="">

            <select>
                <option selected disabled>People</option>
                <option value="people">Jobs</option>
                <option value="learning">Learning</option>
            </select>
            <input class="title" type="text" placeholder="First Name">
            <input class="title" type="text" placeholder="Last Name">
            <button class="search"><input type="search" placeholder="search here">🔍 </button>
            <button class="join_btn"><a href=""> Join Now </a></button>
            <button class="sign_btn"><a href="home">Sign in</a> </button>


        </div>
        <img class="body-image" src="{% static 'image/b1fxwht7hdbeusleja7ciftsj.svg' %}" alt="">
             <h2 class="last-text">Try searching for your co-worker, classmate, professor, or friend.</h2>
        <div class="last-div">
            <a href="">©2022</a>
            <a href="">about</a>
            <a href="">accessibility</a>
            <a href="">user agreement</a>
            <a href="">privecy policy</a>
            <a href="">cookie policy</a>
            <a href="">copyright policy</a>
            <a href="">Brand Policy</a>
            <a href="">Guest Controls</a>
            <a href="">Community Guildlines</a>
            <a href=""> <select id="lang">
                <option selected disabled>🌐Languages</option>
                <option> English</option>
                <option>Afrikaan</option>
                <option>Bahasa Indonesia</option>
                <option>Melayu</option>
                <option>català</option>
                <option>čeština</option>
                <option> dansk</option>
                <option>Deutsch</option>
                <option>eesti</option>
                <option>Gaeilge</option>
                <option>suomi</option>
                <option>svenska</option>
                <option> hrvatski</option>
                <option>slovenčina</option>
                <option> Português (Brasil)</option>
                <option>Português (Portugal)</option>
                <option>română</option>
                <option>shqip</option>
                <option>slovenščina</option>
                <option>norsk bokmål</option>
                <option>Nederlands</option>
                <option>Filipino</option>
                <option>polski</option>
                <option>iswahili</option>
                <option>latviešu</option>
                <option>lietuvių</option>
                <option> magyar</option>
                <option>italiano</option>
            </select></a>


        </div>


















    </div>
</body>

</html>