{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Linkedin</title>
    <link rel="stylesheet" href="{% static 'styles/index.css' %}">

</head>

<body>
    <div>




        <div class="navbar">
            <img class="link-top-img" src="{% static 'image/link2.png' %}" alt="">

            <a class="items" href="">☢ Discover</a>
            <a class="items" href="">🫂 People</a>
            <a class="items" href="">🙇‍♀️ Learning</a>
            <a class="items" href="">💼 Jobs</a>
            <button class="join_btn"><a href=""> Join Now </a></button>
            <button class="sign_btn"><a href="home">Sign in</a> </button>


        </div>

        <div style="float:right ;height:200px ;width: 800px;" class="sit_img">
            <img src="{% static 'image/dxf91zhqd2z6b0bwg85ktm5s4.svg' %}" alt="">
        </div>

        <div id="welcome">
            <h1>Welcome to your <p> professional community</p>
            </h1>

            <span class="search-for-job"><a href="">Search for a job &emsp;&emsp; &emsp; &emsp; ></a>
                <br>
                <a href="">Find a person you know&emsp;&emsp; ></a>
                <br>
                <a href="">Learn a new skill&emsp;&emsp; &emsp; &emsp; ></a>
            </span>



            <div class="explore">

                <div class="topic">
                    <span>Explore topics you <br> are interested in</span>
                </div>
                <div class="content-topic">
                    <h4>CONTENT ALL TOPICS</h4>
                    <button class="all-btn1">See All Topics</button>
                    <button class="all-btn2">Workplace</button>
                    <button class="all-btn3">Job Search</button>
                    <button class="all-btn4">Careers</button>
                    <p>
                        <button class="all-btn5">Interviewing</button>
                        <button class="all-btn6">Salary and Compensation</button>
                        <button class="all-btn7">Internship</button>
                    <p>
                        <button class="all-btn8">Employee Benefits</button>

                </div>
                <div class="explore">

                    <div class="topic">
                        <span>Find the right job or <br> internship for you</span>
                    </div>
                    <div class="content-topic">
                        <h4>Suggested Searches</h4>
                        <button class="all-btns">Engineering</button>
                        <button class="all-btn9">Business Development</button>
                        <button class="all-btn10">Finance</button>
                        <p>
                            <button class="all-btn11">Administrative Assistant</button>
                            <button class="all-btn12">Retail Associate</button>
                            <button class="all-btn13">Costomer Service</button>
                        <p>
                            <button class="all-btn14">Operations</button>
                            <button class="all-btn15">Information Technology</button>
                            <button class="all-btn16">Marketing</button>
                        <p>
                            <button class="all-btn17">Humen Resources</button>
                    </div>

                </div>
                <div class="final-txt-div">
                    <div id="post-job">
                        <h1>Post your job for <br> millions of people to <br>see</h1>
                    </div>

                    <div>
                        <button id="job-btn"> <a href="post_job">Post a Job</a> </button>
                    </div>

                </div>

                <div>
                    <h1 style="text-align: center; color:cornflowerblue ;">Connect with people who can help</h1>
                    <img style="height:60% ;width:70%;padding-left:300px ;"  src="{% static 'image/b1fxwht7hdbeusleja7ciftsj.svg' %}" alt=""> 
                        <br>
                       

                        <h1 style="text-align: center; color: cornflowerblue;">Learn the skills you need to succeed</h1>
                    <img style="height:60% ;width:70%;padding-left:300px ;" src="{%static 'image/dkfub4sc7jgzg3o31flfr91rv.svg' %}" alt="">


                    <button class="last_btn"><a href="find">Find People You Know</a> </button>
                        
                </div>


            </div>









        </div>



</body>


</html>