{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>join_now</title>
    <link rel="stylesheet" href="{% static 'styles/join_now.css' %}">

</head>

<body>
    <div>


        <div class="linked">
            <img src="{% static 'image/joinlink.png' %}" alt="">
        </div>

        <div class="head">
            <h1>Make the most of your professional life</h1>
        </div>

        <form class="form">
            <p> E-mail or phone</p>

            <input class="phn" type="email" class="input" placeholder="enter your eamil id"
                aria-describedby="emailHelp">
            <br>
            <p>password (6 or more charecters)</p>
            <input class="phn" type="password" class="input" placeholder="enter your password"
                aria-describedby="password">
            <p>By clicking Agree & Join, you agree to the LinkedIn User Agreement, Privacy Policy, and Cookie Policy.
            </p>


            <button><a href="">Agree & Join</a></button>
            <br>
            <br>
        
            <span>___________or___________</span>
            <button type="button" class="sign-btn"> <img src="{% static 'image/search.png' %}" alt=""> Continue With
                Google </button>
                <br>
                <br>
                <center>Already a LinkedIn member? 
                    <span class="sign">Sign in</span> </center>



        </form>




















    </div>

</body>

</html>