{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'styles/post_job.css' %} ">
</head>

<body>

    <div>






        <div class="nav">

            <div class="in">
                <h3>In</h3>
            </div>&nbsp;
            <div class="jobs">
                <h3>Jobs</h3>

            </div>
        </div>

        <div class="join">
            <h1><b>Join LinkedIn to start your job post</b> </h1>
        </div>

        <div class="display">
            <p class="form_text">First Name*</p>
            <input class="input" type="text" placeholder="enter your first name">
            <br>
            <p class="form_text">Last Name </p>
            <input class="input" type="text" placeholder="enter your last name">
            <br>
            <p class="form_text">Email*</p>
            <input class="input" type="text" placeholder="enter your e-mail id">
            <p class="form_text">password (6or more charecters)*</p>
            <input class="input" type="password" placeholder="enter your password">
            <p  class="by_click">By clicking Join now, you agree to the LinkedIn User Agreement, <br> Privacy Policy, and Cookie Policy.
             <p>
                <button class="btn"> <a href="">Join Now</a></button>
                 <center>Already a LinkedIn member? 
                     <span class="sign">Sign in</span> </center>
            </p>



        </div>









    </div>

</body>

</html>